.emptyCart {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .emptyCart > svg {
    font-size: 5vmax;
    color: tomato;
  }
  
  .emptyCart > p {
    font-size: 2vmax;
  }
  
  .emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    margin: 2vmax;
    text-decoration: none;
    font: 400 1vmax "Roboto";
  }
  
  .cartPage {
    padding: 5vmax;
  }
  
  .cartHeader {
    background-color: tomato;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 0.7vmax "Roboto";
  }
  
  .cartHeader > p {
    margin: 10px;
  }
  
  .cartHeader > p:last-child {
    text-align: end;
  }
  
  .cartContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }
  
  .cartInput {
    display: flex;
    align-items: center;
    height: 8vmax;
  }
  
  .cartInput > button {
    color: white;
    transition: all 0.5s;
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
    padding: 0.5vmax;
  }
  
  .cartInput > button:hover{
      background-color: rgba(0, 0, 0, 0.767);
  }
  
  .cartInput > input{
      border:none;
      padding:0.5vmax;
      /* width:1vmax; */
      text-align:center;
      font:400 0.8vmax "Roboto";
      color:rgba(0, 0, 0, 0.74);
      outline:none;
  }
  
  .cartSubTotal {
      display: flex;
      padding:0.5vmax;
      height:8vmax;
      align-items: center;
      box-sizing: border-box;
      font:300 1vmax cursive;
      justify-content: flex-end;
      color:rgba(0, 0, 0, 0.753);
  }
  
  .cartGrossProfit{
      display: grid;
      grid-template-columns: 2fr 1.2fr;
  }
  
  .cartGrossProfitBox{
      border-top:3px solid tomato;
      margin:1vmax 4vmax;
      box-sizing: border-box;
      padding:2vmax 0;
      font:300 1vmax "Roboto";
      display: flex;
      justify-content: space-between;
  }
  
  .checkoutBtn{
      display: flex;
      justify-content: flex-end;
  }
  
  .checkoutBtn > button{
      background-color: tomato;
      color:white;
      border:none;
      padding:0.8vmax 4vmax;
      width:50%;
      font:300 0.8vmax "Roboto";
      margin:1vmax 4vmax;
      cursor:pointer;
      border-radius: 300px;
  }
  
  @media screen and (max-width: 600px) {
    .emptyCart > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }
  
    .emptyCart > svg {
      font-size: 20vw;
    }
  
    .emptyCart > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  
    .cartPage{
      padding:0;
      min-height:60vh;
    }
  
    .cartHeader{
      width:100%;
      font:300 1.7vmax "Roboto";
      grid-template-columns: 3fr 1fr 1fr;
    }
  
    .cartContainer{ 
      width:100%;
      grid-template-columns: 3fr 1fr 1fr;
    }
  
    .cartInput{
      width:20vmax
    }
  
    .cartInput > button {
      padding:1.5vmax
    }
  
    .cartInput > input{
      width:2vmax;
      padding:1.5vmax;
      font:400 1.8vmax 'Roboto'
    }
  
    .cartSubTotal{
      padding:1.5vmax;
      height:20vmax;
      font:300 2vmax 'Roboto'
    }
  
    .cartGrossProfit{
      display: grid;
      grid-template-columns: 0fr 2fr;
    }
  
    .cartGrossProfitBox{
      padding:2vmax;
      font:300 2vmax "Roboto"
    }
  
    .checkoutBtn > button{
      padding: 2vmax 4vmax;
      width:100%;
      font:300 2vmax "Roboto"
    }
  
  }
  
  