.resetPasswordContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  /* max-width:100%;
    position:fixed;
    top:0;
    left:0; */
}

.resetPasswordBox {
  width: 25vw;
  height: 50vh;
  background-color: white;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}

.resetPasswordHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font: 400 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
}

.resetPasswordForm {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding: 2vmax;
  justify-content: space-evenly;
  transition: all 0.5s;
  height: 70%;
}

.resetPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.resetPasswordForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.resetPasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.resetPasswordBtn {
  border: none;
  background-color: tomato;
  outline: none;
  color: white;
  width: 100%;
  border-radius: 4px;
  font: 300 0.9vmax "Roboto";
  padding: 0.8vmax;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  transition: all 0.5s;
}
.resetPasswordBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .resetPasswordContainer {
    background-color: white;
  }
  .resetPasswordBox {
    width: 100vw;
    height: 95vh;
  }
  .resetPasswordForm {
    padding: 5vmax;
  }

  .resetPasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .resetPasswordForm > div > svg {
    font-size: 2.8vmax;
  }

  .resetPasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
